.App {
  text-align: center;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9;
}

.popup-wrapper {
  justify-items: center;
  align-items: center;
}

.popup-container {
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: grid;
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a b"; 
  width: 60%;
  height: 300px;
}

.popup {
  grid-area: a;
}

.popup-info {
  text-align: left;
  grid-area: b;
}

